.main-list{
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    border: 1px solid;
    align-items: center;
}
.main-btn{
    display: flex;
    flex-direction:column;
    gap: 4px;
}
.title-job{
    display: flex;
    flex-direction: column;
}